body{
    text-align: center;
    background-color: #ffffff;
}
table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);

}
th, td{
    border: 1px solid #ddd;
 font-size: 16px;
  font-weight: bold;
  padding: 15px;
}
th{
    background-color:#e8e8e8 ;
}
.Publicswim{ background-color: #009bcc; color: white;}
.laneswim{ background-color:#96c21f; color: white}
.aquacise{background-color: #e65686; color: white;}
.aquacisejog{background-color: #d9006b; color: white;}
.education{
    background-color: #5fd2ca;
    color: white;
}
.kids-swim{
    background-color: #ed6b04;
    color: white;
}